.wrapper{
  width: 350px;
  margin: 0 auto;
  padding: 0 10px;
  background: grey;
  box-sizing: border-box;
  /*border: 1px solid red;*/

  .mainContent{
    /*border: 1px solid red;*/
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    box-sizing: border-box;

    label{
      /*border: 1px solid red;*/
      display: block;
      font-size: 20px;
      font-weight: bold;
      padding: 5px;
      margin-bottom: 0;
    }

    input{
      margin: 0 auto;
      display: block;
      width: 90%;
      padding: 0.4rem;
      font-size: 1.2rem;
      border: 1px solid #ccc;
      margin-bottom: 1rem;
    }

    button{
      margin-bottom: 15px;
      width: 70%;
      height: 50px;
      font-size: 25px;
      box-sizing: border-box;
      font-weight: 400;
      border: 1px solid #343434;
    }
  }
}

.hidden{
  visibility: hidden;
  position: absolute;
}
