.wrapper{
  width: 250px;
  border: 2px solid #5869ed;
  background: #575757;
  border-radius: 10px;
  margin: 150px auto;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  /*border: 1px solid red;*/

  .mainContent{
    /*border: 1px solid red;*/
    margin: 0 auto;
    padding: 2px;
    text-align: center;
    box-sizing: border-box;

    label{
      display: block;
      font-size: 15px;
      font-weight: bold;
      padding: 5px;
      margin-bottom: 0;
    }

    input{
      margin: 0 auto;
      display: block;
      width: 90%;
      padding: 0.4rem;
      font-size: 1.2rem;
      border: 1px solid #ccc;
    }

    #close{
      float: right;
    }

    #okay{
      margin-bottom: 15px;
      width: 70%;
      height: 25px;
      font-size: 15px;
      box-sizing: border-box;
      font-weight: 400;
      border: 1px solid #343434;
    }
  }
}

#progresBar{
  position: absolute;
  left: 70px;
  top: 70px;
}

.hidden{
  visibility: hidden;
  position: absolute;
}
