/*HEAD*/
.head{
  color: #fff;
  flex-direction: column;

  ul{
    padding: 0;
    width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;

    background-color: rgba(136, 141, 255, 0.53);

    li{
      display: block;
      width: 100%;
      line-height: 50px;
      cursor: pointer;
      text-align: center;
      button{
        width: 100%;
      }
    }
    li:hover{
      background-color: rgba(240, 248, 255, 0.13);
    }
  }

}

/*FOOTER*/
footer{
  position: fixed;
  bottom: 0;
  width: 100%;

  .footer{

    padding: 20px;
    margin: 0 auto;
    text-align: center;
    width: 600px;
    color: #FFF;
    font-family: "Fira Code", sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(63, 65, 255, 0.52);
  }
}


/*SIDE-NAV*/
.container {
  padding: 2px;
  background-color: rgba(63, 65, 255, 0.52);
  position: absolute;
  top: 70px;
  width: min-content;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  .sidenav {
    background-color: rgb(201, 171, 255);
    padding: 20px;
    p{
      display: block;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
    ul{
      padding: 0;
      font-size: 15px;
      li{
        display: block;
        line-height: 50px;
        cursor: pointer;
        button{
          width: 100%
        }
      }
    }
  }
}


