<header>
  <div class="head">
    <ul>
      <li>
        <button mat-button type="button" (click)="drawer.toggle()">
          Menu
        </button>
      </li>
      <li>
        <button mat-button type="button" [routerLink]="['/']">
          HOME
        </button>
      </li>
      <li>
        <button mat-button type="button" [routerLink]="['/todo']">
          TODO
        </button>
      </li>
    </ul>
  </div>
</header>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p>Menu</p>
    <ul>
      <li> <a [routerLink]="['/register']"> <button type="button" mat-button> Registration </button>  </a> </li>
      <li> <a [routerLink]="['/login']"> <button type="button" mat-button> Sign in </button> </a> </li>
    </ul>

    <ul>
      <li> Вы вошли как: {{authService.mainUser.username}} </li>
      <li> <a> <button type="button" mat-button> Личный кабинет </button> </a> </li>
      <li> <a [routerLink]="['/']" (click)="authService.logout()"> <button type="button" mat-button> Sign in </button> </a> </li>
    </ul>
  </mat-drawer>
</mat-drawer-container>
