<header>
  <div class="head">
    <ul>
      <li>
        <button mat-button type="button" [routerLink]="['/home', authService.User]">
          HOME
        </button>
      </li>
      <li>
        <button mat-button type="button" [routerLink]="['/home', authService.User, 'todo']">
          TODO
        </button>
      </li>
    </ul>
  </div>
</header>

<mat-sidenav-container class="container" autosize>
  <mat-sidenav #drawer class="sidenav" [(opened)]="openSideNav" mode="side">
    <p>Menu</p>
    <ul *ngIf="!authService.isAuthenticated(); else sigin">
      <li> <a [routerLink]="['/register']"> <button type="button" mat-button> Registration </button>  </a> </li>
      <li> <a [routerLink]="['/login']"> <button type="button" mat-button> Sign in </button> </a> </li>
    </ul>
  </mat-sidenav>
</mat-sidenav-container>

<ng-template #sigin>
  <ul>
    <li> Вы вошли как:  {{authService.User}}</li>
    <li> <a [routerLink]="['/home', '123', 'page']"> <button type="button" mat-button> Личный кабинет </button> </a> </li>
    <li> <a [routerLink]="['']" (click)="authService.logout()"> <button type="button" mat-button> Sign out </button> </a> </li>
    <li style="margin-top: 25px; font-size: 13px"> <small>Время авторизации:  {{authService.Time | date:'dd:MM -- HH:mm:ss'}}</small> </li>
  </ul>
</ng-template>
