
    <!--FORM (INPUT/FILTER)-->

<form class="example-form">
  <mat-form-field class="example-full-width">
    <label>
      <input
        matInput
        id="mainInput"
        type="text"
        placeholder="What needs to be done?"
        [(ngModel)]="title"
        [ngModelOptions]="{standalone: true}"
        (keydown.enter)="addDoInList()"
      >
    </label>
  </mat-form-field>
</form>


          <!--MAIN LIST-->
<mat-list role="list" *ngIf="listService.doList.length; else empty">
  <mat-list-item role="listitem" *ngFor="let li of ToDo">

    <mat-checkbox [(ngModel)]="li.completed"></mat-checkbox>

    <span [class.complete] = "li.completed" (dblclick)="changeTextF(li.id)" *ngIf="!li.changing; else change">
      {{li.title}}
    </span>

    <button mat-icon-button id="button" (click)="remove(li.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>

  <ul id="footer">
    <span id="count">
      {{listService.doList.length}} items left
    </span>

    <mat-button-toggle-group name="fontStyle" aria-label="Filter" appearance="legacy" (change)="func($event)">
      <mat-button-toggle value="All">All</mat-button-toggle>
      <mat-button-toggle value="Active">Active</mat-button-toggle>
      <mat-button-toggle value="Completed">Completed</mat-button-toggle>
    </mat-button-toggle-group>

    <span id="clear" (click)="removeCompleted()">
      Clear completed
    </span>
  </ul>
</mat-list>



<!--    TEMPLATES   -->

<ng-template #empty>
  <h4> List is empty!!! Enter smt... </h4>
</ng-template>

<ng-template #change>
  <mat-form-field class="example-full-width" style="margin-left: 20px">
   <label>
      <input
       matInput
       type="text"
       placeholder=""
       [(ngModel)]="changeText"
       (keydown.enter)="changeTextF()"
     >
    </label>
  </mat-form-field>
</ng-template>
